<app-layout>
  <mat-toolbar class="page-header" role="heading">
    <h1>Email Conversation</h1>
  </mat-toolbar>
  <div class="chatArea changeW">
    <div class="chatMessages">
      <!--Start of Chat cont-->
      <p class="timeId">8:43pm | 12/05/2021</p>
      <div class="message mMess 1122334" data-number="1122334">
        <div class="messArea">
          <p id="sname">John Smith</p>
          <div class="textM">
            Hi Jane, Please can you confirm that Nick Day graduated from the
            University of Melbourne with a Bachelor of Commerce in the year
            2021. A consent form has been attached to this email.
          </div>
        </div>
        <div class="prof" style="background-color: #ff7b54"><p>J</p></div>
      </div>
      <div class="message">
        <div class="prof"><p>J</p></div>
        <div class="messArea">
          <p id="sname">Jane Smith | University of Melbourne</p>
          <div class="textM">
            Hi John, I can confirm that Nick Day attended the University of
            Melbourne, graduating with a Bachelor of Commerce in 2021.
          </div>
        </div>
      </div>
      <div class="message mMess 1122334" data-number="1122334">
        <div class="messArea">
          <p id="sname">John Smith</p>
          <div class="textM">Thanks Jane, that is everything.</div>
        </div>
        <div class="prof" style="background-color: #ff7b54"><p>J</p></div>
      </div>
    </div>
  </div>
</app-layout>
